@font-face {
  font-family: 'lgothic';
  src: url('../fonts/leaguegothic.woff2') format('woff2'),
  url('../fonts/leaguegothic.woff') format('woff');
}

@font-face {
  font-family: 'osxbold';
  src: url('../fonts/opensansextrabold.woff2') format('woff2'),
  url('fonts/opensansextrabold.woff') format('woff');
}

@font-face {
  font-family: 'oslight';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
  url('fonts/opensanslight.woff') format('woff');
}


